
:root{
    --primary-color: #6c63ff;
    --secondary-color: #f9f7fe;
    --heading-font-family: "Playfair Display", serif;
    --general-font-family: "Poppins", sans-serif;
}

.heading {
   background-color: var(--secondary-color);
   text-align: center;
   padding:70px 20px;
   font-family: var(--general-font-family);
}

.heading p {
    font-size: 36px;
    font-weight: bold;
    margin: 0;
    color: #272142;
}

h1 {
    font-family: var(--heading-font-family);
    font-weight: bold;
    font-size: 96px;
    color: black;
    line-height: 2;
}
h2 {font-family: var(--heading-font-family);
    font-weight: bold;
    line-height: 1.5;
    font-size: 64px;
}
.heading h2 {
    font-family: var(--heading-font-family);
    font-weight: bold;
    line-height: 1.5;
    font-size: 24px;
}
.btn-branding {
background: var(--primary-color);
border-radius: 4px;
color: white;
font-size: 18px;
line-height: 27px;
padding: 15px 30px;
}

p{
    font-family:var(--general-font-family) ;
    font-weight: normal;
    font-size: 16px;
    line-height: 30px;
}

.btn-branding-outline{
    display: inline-block;
    color: var(--primary-color);
    border: 1px solid var(--primary-color);
    border-radius: 4px;
    font-size: 18px;
    line-height: 27px;
    padding: 15px 30px;
}
.content-container h1{
    font-size: 64px;
    line-height: 80px;
}

.content-container h2{
    font-size: 18px;
    font-family: var(--general-font-family);
}
.content-container p{
    font-weight: 500px;
    font-size: 16px;
    line-height: 30px;
}
.content-container {
    padding: 160px 20px;
}
.img-fluid{
    border-radius: 15px;
}
.content h1 {
    font-size: 64px;
    line-height: 80px;
}
.content h3 {
    font-size: 24px;
    line-height: 1.5;
    font-family: var(--general-font-family);
}
nav {
    padding: 20px 0;
}
nav a {
    text-decoration: none;
    color: #272142;
    transition: all 100ms ease-in-out;
}
nav ul {
    padding: 0;
    margin: 0;
}
nav li {
    display: inline;
    list-style: none;
    line-height: 42px;
    margin-left: 15px;
}
nav a:hover,
nav li.active a {
    color: var(--primary-color);
}
.logo {
    max-height: 40px;
}
@media (max-width: 900px) {
    *{
        text-align: center;
        margin-top: 0px;
    }
    h1 {
            font-size: 44px;
            line-height: 2;
        }
    .heading h2{
            text-align: center;
            font-weight: bold;
            line-height: 1.5;
            font-size: 24px;
        }
    .about-section h1{
           text-align: center;
           font-weight: bold;
           font-family: var(--heading-font-family);
    }
    h2 {
           font-size: 44px;
           text-align: center;
        }
     p {
           text-align: center;
        }
    .btn-branding-outline{
       margin-left: 30%;
       margin-right: 30%;
       padding: 15px 25px;
       border: 1px solid ;
    }
        .content {
            text-align: center;
            padding: 0;
            margin: 30px;
        }
        .content h1 {
            font-size: 64px;
            line-height: 80px;
            font-weight: bold;
            font-family: var(--heading-font-family);
        }
        .content h3 {
            font-size: 24px;
            line-height: 1;
            font-family: var(--general-font-family);
        }
        .content p {
             font-size: 18px;
             line-height: 30px;
             font-weight: normal;
         }
                         
}